.nav-tabs .nav-link {
  color: white;
}

.nav {
  justify-content: space-between;
}

.nav-item {
  width: 25%;
}

.clean-block.clean-hero p {
  color: black;
}

.clean-block.clean-hero .text {
  max-width: 90%;
}

.tab-content > .active {
  display: block;
  color: black;
}

